# CodeUp 파이썬 기초문제 6018-6100
https://codeup.kr/

In [2]:
c1 = input()

1

In [3]:
print(c1, c1, c1)

1 1 1

## 6018 시간 입력받아 그대로 출력하기.
24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.

In [ ]:
a, b = input().split(':')

In [ ]:
print(a, b, sep=':')

## 6019 연월일 입력받아 순서 바꿔 출력하기
"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자

In [ ]:
y, m, d = input().split('.')

In [ ]:
print(d, m, y, sep="-")

## 6020 주민번호 입력받아 형태바꿔 출력하기
주민번호는 다음과 같이 구성된다 = XXXXXX-XXXXXXX

In [ ]:
a, b = input().split("-")

In [ ]:
print(a, b, sep='')

## 6021 단어 1개 입력받아 나누어 출력하기
알파벳과 숫자로 이루어진 단어 1개가 입력된다.
입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력한다.

In [ ]:
s = input()

In [ ]:
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

## 6022 연월일 입력받아 나누어 출력하기
6자리의 연월일 (YYMMDD)을 입력받아 나누어 출력해보자.

In [ ]:
s = input()

In [ ]:
print(s[0:2],s[2:4], s[4:6])

## 6023 시분초 입력받아 분만 출력하기
시:분:초 형식으로 시간이 입력될 때 분만 출력해보자

In [ ]:
a = input().split(':')

In [ ]:
print(a[1])

## 6024 단어 2개 입력받아 이어 붙이기
알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아
순서대로 붙여 출력하는 프로그램을 작성해보자

In [ ]:
w1, w2 = input().split()

In [ ]:
w3 = w1+w2
print(w3)

## 6025 정수 2개 입력받아 합 계산하기
정수 2개를 입력받아
합을 출력하는 프로그램을 작성해보자.

In [ ]:
a, b =input().split()

In [ ]:
c = int(a) + int(b)
print(c)

## 6026 실수 2개 입력받아 합 계산하기
실수 2개를 입력받아 합을 출력하는 프로그램을 작성해보자.

In [ ]:
a= input()
b= input()

In [ ]:
c = float(a) + float(b)
print(c)

## 6027 10진 정수 입력받아 16진수로 출력하기1
10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

In [ ]:
a = input()
n = int(a)

In [ ]:
print('%x'%n)

## 6028 10진 정수 입력받아 16진수로 출력하기2
10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

In [ ]:
a = input()
n = int(a)

In [ ]:
print('%X'%n)

## 6029 16진 정수 입력받아 8진수로 출력하기
16진수를 입력받아 8진수(octal)로 출력해보자.

In [ ]:
a = input()
n = int(a,16)

In [ ]:
print('%o'%n)

## 6030 영문자 1개 입력받아 10진수로 변환하기
영문자 1개를 입력받아 10진수 유니코드(Unicode) 값으로 출력해보자.

In [ ]:
n = ord(input())

In [ ]:
print(n)

## 6031 정수 입력받아 유니코드 문자로 변환하기
10진 정수 1개를 입력받아 유니코드 문자로 출력해보자.

In [ ]:
c = int(input())

In [ ]:
print(chr(c))

## 6032 정수 1개 입력받아 부호 바꾸기
입력된 정수의 부호를 바꿔 출력해보자

In [ ]:
a = int(input())

In [ ]:
print(-a)

## 6033 문자 1개 입력받아 다음 문자 출력하기
문자 1개를 입력받아 그 다음 문자를 출력해보자.
영문자 'A'의 다음 문자는 'B'이고, 숫자 '0'의 다음 문자는 '1'이다.

In [ ]:
a = input()
a = ord(a)

In [ ]:
print(chr(a+1 ))

## 6034 정수 2개 입력받아 차 계산하기
정수 2개 (a,b)를 입력받아 a에서 b를 뺀 차를 출력하는 프로그램을 작성해보자.

In [3]:
a, b = input().split()

123 -123

In [4]:
c = int(a) - int(b)
print(c)

246

## 6035 실수 2개 입력받아 곱 계산하기
실수2개(f1,f2)를 입력받아 곱을 출력하는 프로그램을 작성해보자.

In [5]:
a, b =input().split()

0.5 2.0

In [6]:
c = float(a) * float(b)
print(c)

1.0

## 6036 단어 여러 번 출력하기
단어와 반복 횟수를 입력받아 여러 번 출력해보자.

In [7]:
w, n =input().split()

love 3

In [9]:
print(str(w)*int(n))

lovelovelove

## 6037 문장 여러 번 출력하기
반복 횟수와 문장을 입력받아 여러 번 출력해보자.

In [1]:
n = input()
s = input()

3
I love CS

In [3]:
print(int(n) *str(s))

I love CSI love CSI love CS

## 6038 정수 2개 입력받아 거듭제곱 계산하기
정수 2개(a,b)를 입력받아
a를 b번 곱한 거듭제곱을 출력하는 프로그램을 작성해보자.

In [4]:
a, b = input().split()

2 10

In [6]:
c = int(a)**int(b)
print(c)

1024

## 6039 실수 2개 입력받아 거듭제곱 계산하기
실수 2개 (f1,f2)를 입력받아
f1을 f2번 거듭제곱한 값을 출력하는 프로그램을 작성해보자.

In [9]:
a, b = input().split()

4.0 0.5

In [10]:
c = float(a)**float(b)
print(c)

2.0

## 6040 정수 2개 입력받아 나눈 몫 계산하기
정수 2개 (a,b)를 입력받아 a를 b로 나눈 몫을 출력해보자.

In [11]:
a, b = input().split()

10 3

In [13]:
c = int(a) // int(b)
print(c)

3

## 6041 정수 2개 입력받아 나눈 나머지 계산하기
정수 2개 (a,b)를 입력받아 a를 b로 나눈 나머지를 출력해보자.

In [14]:
a, b = input().split()

10 3

In [15]:
c = int(a)% int(b)
print(c)

1

## 6042 실수 1개 입력받아 소숫점이하 자리 변환하기
실수 1개를 입력받아 소숫점 이하 두 번째 자리까지의 정확도로 반올림한 값을 출력해보자.

In [25]:
a = input()

3.149787

In [26]:
print(round(float(a), 2))

3.15

## 6043 실수 2개 입력받아 나눈 결과 계산하기
실수 2개(f1, f2)를 입력받아 f1을 f2로 나눈 값을 출력해보자.
이 때 소숫점 넷째자리에서 반올림하여 무조건 수숫점 셋째 자리까지 출력한다.

In [16]:
a, b = input().split()

10.0 0.0001

In [19]:
c = float(a)/ float(b)
print('%.3f'%c)

100000.000

## 6044 정수 2개 입력받아 자동 계산하기
정수 2개(a,b)를 입력받아 합,차,곱,몫,나머지,나눈 값을 자동으로 계산해보자.
단 0<=a, b<=214783647, b는 0이 아니다.

In [20]:
a, b = input().split()

10 3

In [28]:
a = int(a)
b = int(b)
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(round(a/b, 2))

13
7
30
3
1
3.33