# CodeUp 파이썬 기초문제 6018-6100
https://codeup.kr/

In [41]:
c1 = input()

love

In [43]:
print(c1, c1, c1)

love love love

## 6018 시간 입력받아 그대로 출력하기.
24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.

In [30]:
a, b = input().split(':')

3:16

In [44]:
print(a, b, sep=':')

3:16

## 6019 연월일 입력받아 순서 바꿔 출력하기
"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자

In [46]:
y, m, d = input().split('.')

2020.3.4

In [47]:
print(d, m, y, sep="-")

4-3-2020

## 6020 주민번호 입력받아 형태바꿔 출력하기
주민번호는 다음과 같이 구성된다 = XXXXXX-XXXXXXX

In [48]:
a, b = input().split("-")

000907-1121112

In [50]:
print(a, b, sep='')

0009071121112

## 6021 단어 1개 입력받아 나누어 출력하기
알파벳과 숫자로 이루어진 단어 1개가 입력된다.
입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력한다.

In [52]:
s = input()

Hello

In [54]:
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

H
e
l
l
o

## 6022 연월일 입력받아 나누어 출력하기
6자리의 연월일 (YYMMDD)을 입력받아 나누어 출력해보자.

In [55]:
s = input()

200304

In [56]:
print(s[0:2],s[2:4], s[4:6])

20 03 04

## 6023 시분초 입력받아 분만 출력하기
시:분:초 형식으로 시간이 입력될 때 분만 출력해보자

In [57]:
a = input().split(':')

17:23:57

In [63]:
print(a[1])

23

## 6024 단어 2개 입력받아 이어 붙이기
알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아
순서대로 붙여 출력하는 프로그램을 작성해보자

In [64]:
w1, w2 = input().split()

hello world

In [65]:
w3 = w1+w2
print(w3)

helloworld

## 6025 정수 2개 입력받아 합 계산하기
정수 2개를 입력받아
합을 출력하는 프로그램을 작성해보자.

In [66]:
a, b =input().split()

123 -123

In [68]:
c = int(a) + int(b)
print(c)

0

## 6026 실수 2개 입력받아 합 계산하기
실수 2개를 입력받아 합을 출력하는 프로그램을 작성해보자.

In [6]:
a= input()
b= input()

0.1
0.9

In [7]:
c = float(a) + float(b)
print(c)

1.0

## 6027 10진 정수 입력받아 16진수로 출력하기1
10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

In [8]:
a = input()
n = int(a)

255

In [10]:
print('%x'%n)

ff

## 6028 10진 정수 입력받아 16진수로 출력하기2
10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

In [11]:
a = input()
n = int(a)

255

In [12]:
print('%X'%n)

FF

## 6029 16진 정수 입력받아 8진수로 출력하기
16진수를 입력받아 8진수(octal)로 출력해보자.

In [14]:
a = input()
n = int(a,16)

f

In [15]:
print('%o'%n)

17

## 6030 영문자 1개 입력받아 10진수로 변환하기
영문자 1개를 입력받아 10진수 유니코드(Unicode) 값으로 출력해보자.

In [16]:
n = ord(input())

A

In [17]:
print(n)

65

## 6031 정수 입력받아 유니코드 문자로 변환하기
10진 정수 1개를 입력받아 유니코드 문자로 출력해보자.

In [18]:
c = int(input())

65

In [19]:
print(chr(c))

A

## 6032 정수 1개 입력받아 부호 바꾸기
입력된 정수의 부호를 바꿔 출력해보자

In [20]:
a = int(input())

1

In [21]:
print(-a)

-1

## 6033 문자 1개 입력받아 다음 문자 출력하기
문자 1개를 입력받아 그 다음 문자를 출력해보자.
영문자 'A'의 다음 문자는 'B'이고, 숫자 '0'의 다음 문자는 '1'이다.

In [55]:
a = input()
a = ord(a)

A

In [56]:
print(chr(a+1 ))

B